@media ( max-width:768px ) {
    .header {
        flex-wrap: wrap;
        justify-content: space-around;
        &__logo {
            margin: 0 20px;
        }
        &__official {
            margin: 0 20px;
        }
        &__contacts {
            margin: 0 20px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .benefits {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__item {
            margin: 0 9.75px;
            &:last-child {
                margin-top: 40px;
            }
        }
    }
    .title_left {
        font-size: 30px;
        line-height: 37px;
        text-align: center;
    }
    .consultation {
        &__dscr {
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            margin-top: 65px;
        }
    }
    .contacts-form {
        margin: 0 auto;
        margin-top: 36px;
    }
}

@media ( max-width: 722px ) {
    .header {
        &__contacts {
            margin-top: 20px;
            align-items: center;
        }
    }
    .promo {
        &__header {
            font-size: 36px;
            line-height: 36px;
        }
        &__subheader {
            font-size: 20px;
            line-height: 20px;
        }
    }
    .title {
        font-size: 26px;
        line-height: 26px;
    }
    .title_left {
        font-size: 24px;
        line-height: 32px;
    }
    .consultation {
        &__dscr {
            font-size: 17px;
            line-height: 21px;
            margin-top: 60px;
        }
    }
}

@media ( max-width: 525px ) {
    .header {
        &__official {
            margin-top: 20px;
        }
    }
    .promo {
        &__header {
            font-size: 28px;
            line-height: 28px;
        }
        &__subheader {
            font-size: 18px;
            line-height: 18px;
        }
        &__icons {
            width: 106px;
            height: 400px;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }
    }
    .title {
        font-size: 24px;
        line-height: 24px;
    }
    .title_left {
        font-size: 20px;
        line-height: 28px;
    }
    .benefits {
        &__item {
            margin-bottom: 40px;
            &:last-child {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
    .consultation {
        min-height: 622px;
        &__dscr {
            font-size: 16px;
            line-height: 20px;
            margin-top: 55px;
        }
    }
}

@media ( max-width: 425px ) {
    .promo {
        &__header {
            font-size: 24px;
            line-height: 24px;
        }
        &__subheader {
            font-size: 15px;
            line-height: 15px;
        }
    }
    .title {
        font-size: 22px;
        line-height: 22px;
    }
    .title_left {
        font-size: 16px;
        line-height: 24px;
    }
    .consultation {
        min-height: 567px;
        &__dscr {
            font-size: 15px;
            line-height: 19px;
            margin-top: 50px;
        }
    }
    .contacts-form {
        width: 250px;
        input {
            height: 40px;
        }
    }
    .button_submit {
        height: 45px;
        font-size: 13px;
    }
}

@media ( max-width: 375px ) {
    .header {
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 140px;
        height: 25px;
        font-size: 11px;
    }
    .promo {
        &__header {
            font-size: 20px;
            line-height: 20px;
        }
        &__subheader {
            font-size: 12px;
            line-height: 12px;
        }
        &__link {
            margin-top: 14px;
            font-size: 13px;
        }
    }
    .button_main {
        width: 240px;
        height: 40px;
        font-size: 14px;
    }
    .title {
        font-size: 20px;
        line-height: 20px;
    }
    .title_left {
        font-size: 14px;
        line-height: 22px;
    }
    .button_submit {
        width: 100%;
        height: 45px;
        font-size: 14px;
    }
    .consultation {
        min-height: 531px;
        &__dscr {
            font-size: 14px;
            line-height: 18px;
            margin-top: 40px;
        }
    }
    .contacts-form {
        width: 200px;
        input {
            height: 35px;
        }
    }
    .button_submit {
        height: 40px;
        font-size: 12px;
    }
}